html {
  background: url("/images/galaxy.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
}

header img {
  width: 9vw;
  margin-right: 1vw;
}

header h1 {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-image: url("/images/goldtext.jpg");
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;
}

/* ================================================================== */

h2 {
  font-family: "Comfortaa", cursive;
  color: white;
  text-shadow: 3px 3px 5px black;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  border: 5px solid;
  border-image: url("/images/goldtext.jpg") 300 repeat;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 3px black;
  color: white;
}

.textarea {
  display: flex;
  flex-direction: column;
  text-align: center;
}
